* {
    padding: 0;
    box-sizing: border-box;
    font-family: playfair display, system-ui;
}

.title {
    color: white;
}

/* Estilos para el contenedor "header" */
header {
    background-color:#c4742c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

header title {
    color: white;
    font-size: 1.5rem;
}

/* Cambio de estilos de la lista no ordenada */
nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}


nav ul li a {
    color: rgba(94, 44, 8, 0.938);
    font-weight: bolder;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.5s ease;
}

nav ul li a:hover {
    background-color: #d3b792;
}


/*Encabezado */
.encabezado {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

/* Diseño pestaña de Inicio */
.inicio {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: playfair display, system-ui;
}

.inicio img {
    width: 800px;
}

/* Carrusel */
.slider-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
}
  
.slider-container img {
    width: 100%;
    object-fit: cover;
}

.contenedor {
    background-color: black;
}

.contenedor img {
    height: 600px;
    width: 600px;
    position: relative;
    padding: 0;
}

/* Muestra */
.cuadro {
    border: 5px solid #333;
    background-color: white;
    box-sizing: content-box;
    box-sizing: border-box;
    width: 30rem;
    height: auto;
    margin-top: 30px;
    padding: 25px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    object-fit:contain;
    overflow:hidden;
    text-align: center;
    border-radius: 25px;
    align-items: flex-end; 
}

/* Pestaña Inicio */
.description h1 {
    text-align: center;
    background-color: #ebac34;
}

.container-flor {
    display: flex;
    gap: 75px; /* Espacio entre las tarjetas */
    padding: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilo de la tarjeta */
.card-flor {
    position: relative;
    width: 350px;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none; /* Quita el subrayado del enlace */
}

/* Imagen dentro de la tarjeta */
.card-flor img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen llene el espacio sin deformarse */
    transition: transform 0.5s ease;
}

/* Efecto hover en la tarjeta */
.card-flor:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la tarjeta */
    outline: 3px solid #d3b792; /* Crea un borde */
    outline-offset: 2px; /* Separa el borde de la tarjeta */
}

.card-flor:hover img {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen dentro de la tarjeta */
}

.hover-text {
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.25s ease;
}

.card-flor:hover img{
    opacity: 0.85;
}

.card-flor:hover .hover-text{
    opacity: 1;
}

/* Testimonios */
.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
  
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    text-align: center;
}

.card:hover {
    transform: scale(1.05); /* Efecto de crecimiento al pasar el mouse */
    background-color: #fff0ca;
}
  
.card img {
    width: 100%;
    height: auto;
}
  
.card-content {
    padding: 15px;
}
  
.stars {
    color: #ffcc00;
    font-size: 18px;
    margin-bottom: 10px;
}
  
.stars p {
    font-size: 14px;
    margin: 10px 0;
    color: #666;
}
  
.stars h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

/* Pestaña de Nosotros */
.historia {
    font-size: 1.2em; 
    color: #2a0e00; 
    line-height: 1.6;
    text-align: center;
    padding: 20px; 
    margin: auto;
    display: flex;
    justify-content: center;
}

.historia img {
    width: 500px;
    height: 500px;
    margin-left: 30px;
    align-self: center;
    box-shadow: #743419
}

.tithistoria {
    padding: 0; 
    color: rgba(94, 44, 8, 0.938);
    font-size: 2rem;
    text-align: center;
}


.media {
    margin-top: 1.5em;
    padding: 20px;
    text-align: center;
    font-size: 1.2em; 
    margin-bottom: 1em;
    background-color: #ebac34;
}

/* Pestaña Diseños */
.fichas {
    padding: 20px;
    gap: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; /*Fija que se mantenga todo igual dentro de las tarjetas*/
    justify-content: center;
}

.ramos {
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 800px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    overflow: hidden; /* Evita que el contenido se desborde fuera de los limites */
    text-align: center;
}

.ramos h2 {
    margin-top: 10px;
    background-color: #ebac34;
}

.ramos p {
    text-align: center;
    padding: 20px;
}

.boton {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ebac34;
}

.macetas {
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 800px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    overflow: hidden; /* Evita que el contenido se desborde fuera de los limites */
    text-align: center;
}

.macetas h2 {
    margin-top: 10px;
    background-color: #c4742c;
}

.macetas p {
    text-align: center;
    padding: 20px;
}

.boton-mace {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #c4742c;
}

.artifi {
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 800px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    overflow: hidden; /* Evita que el contenido se desborde fuera de los limites */
    text-align: center;
}

.artifi h2 {
    margin-top: 10px;
    background-color: #2a0e00;
    color: white;
}

.artifi p {
    text-align: center;
    padding: 20px;
}

.boton-art {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #2a0e00;
    color: white;
}

/* Pestaña Tips */
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0px;
}
  
.container h1 {
    text-align: center;
    color: #743419;
    font-size: 40px;
    margin-bottom: 20px;
}
  
.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
  
.image-container {
    flex: 1;
    min-width: 500px;
}
  
.image-container img {
    border-radius: 5px;
    max-width: 100%;
}
  
.tips {
    flex: 2px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
  
.tip {
    display: flex;
    align-items: center;
    background-color: #fff0ca;
    padding: 10px;
    border-radius: 5px;
}
  
.icon {
    font-size: 60px;
    color: #743419;
    margin: 20px 20px;
    font-weight: bold;
}
  
.icon h2 {
    text-align: center;
    margin: 0;
    font-size: 18px;
    color: #333;
}
  
.icon p {
    margin: 0 0 0;
    font-size: 14px;
    color: #666;
    text-align: center;
}

/* Curiosidades */
.curiosidades {
    text-align: center;
    padding: 0;
    border-radius: 8px;
}

/* Galería */
.gallery {
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se ajusten en filas */
    gap: 15px;
    justify-content: center;
    padding: 10px 0;
}

/* Contenedor de cada imagen y descripción */
.gallery .slide {
    position: relative;
    overflow: hidden;
    flex: 1 1 calc(25% - 20px); /* 4 columnas en pantallas grandes */
    max-width: 300px;
    border-radius: 10px;
    margin: 10px;
    box-sizing: border-box;
}

/* Imágenes */
.gallery img {
    width: 100%;
    height: 100%; /* Mantiene la proporción en imágenes responsivas */
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* Efecto al pasar el cursor */
.gallery .slide:hover img {
    transform: scale(1.1);
    filter: brightness(50%);
}

/* Descripción superpuesta */
.gallery .description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 1rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.gallery .description h3 {
    padding: 0px;
    color: #ebac34;
    margin: 0;
}

/* Mostrar descripción al pasar el cursor */
.gallery .slide:hover .description {
    opacity: 1;
}

/* Responsividad */
@media (max-width: 1024px) {
    .gallery .slide {
        flex: 1 1 calc(33.333% - 20px); /* 3 columnas en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .gallery .slide {
        flex: 1 1 calc(50% - 20px); /* 2 columnas en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .gallery .slide {
        flex: 1 1 100%; /* Una columna en pantallas muy pequeñas */
        max-width: 100%; /* Asegura que ocupe todo el ancho */
    }
}


/* Pestaña Contacto */
form {
    width: 100%;
    min-height: 50vh;
    padding: 5vh 10vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    display: block;
}


.form label {
    font-weight: 400;
    font-size: 1.5rem;
    color: #333;
}

.form label {
    cursor: default;
}

.form input{
    width: 100%;
    padding: 10px;
    border: 2px solid #ebac34;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: 0.3s ease;
}

.form textarea{
    width: 100%;
    padding: 10px;
    border: 2px solid #ebac34;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: 0.3s ease;
}

.form button {
    color: #743419;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.2s linear;
    cursor: pointer;
    border: 2px solid #743419;
    background-color: #ebac34;
}

.form button:hover {
    scale: 1.1;
    border: 2px solid #d3b792;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px;
}

/* Estilos del Footer */
footer {
    padding: 10px;
    text-align: center;
    height: 60px;
    bottom: 0;
    width: 100%;
}

.logos {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    font-size: 2rem;
}
